---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>吉首大学计算机科学与工程学院 学生</li>
            <li>全栈方向</li>
            <li>MacOS / Ubuntu / Windows</li>
          </ul>
        </div>
      </div>



      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://gitlab.jsu.edu.cn/wenjiachen" target="_blank">
                Gitlab</a
              >
            </li>
            <li>
              <a href="https://twitter.com/wenjiach" target="_blank">
                Twitter</a
              >
            </li>
            <li>
              <a href="https://github.com/wenjia03" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">联系我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a target="_blank">微信：wenjia2003</a>
            </li>
            <li>
              <a
                href="https://www.feishu.cn/invitation/page/add_contact/?token=240i7475-734e-453b-a78b-13e432c507fc&unique_id=nc8_x-G8StNKvGcuFzJaAQ=="
                target="_blank"
              >
                飞书 / Lark</a
              >
            </li>
            <li>
              <a href="mailto:i@wenjiachen.cn" target="_blank"
                >邮件（i@wenjiachen.cn）</a
              >
            </li>
            <li>
              <a href="mailto:gwzkj@hotmail.com" target="_blank"
                >邮件（归档, gwzkj@hotmail.com）</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="archive-tag">
        <h2 class="tag-header">交换友链</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a target="_blank"
                >博客或者技术类网站即可，无违法内容，其余无需求，感谢交换</a
              >
            </li>
          </ul>
        </div>
      <div class="archive-tag">
        <h2 class="tag-header">南京正在等待一个道歉</h2>
        <div class="tag-post-list">
          南京正在等待一个道歉。1937年12月13日，日军在南京开始了为期六周的大屠杀，南京大屠杀是二战期间日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。南京大屠杀是日本侵华战争中的一次大屠杀事件，是二战期间最大的一次大屠杀事件之一。截至目前，南京人民和南京大屠杀死难者及其家属仍然在等待日本政府的道歉。
          而日本政府却以篡改教科书等方式否认南京大屠杀，甚至有日本政客公开否认南京大屠杀的存在。
          <br />
          南京正在等待一个道歉。位于南京水西门的<a href="http://www.19371213.com.cn/">侵华日军南京大屠杀遇难同胞纪念馆</a>摆放着种种侵华日军来华罪证，而日本本土上却存在以靖国神社为首的供奉日本二战战犯的神社，这种行为是对南京大屠杀死难者及其家属的侮辱。
        </div>
      </div>      </div>
    </div>
  </section>
</BaseLayout>
