---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">本站博客</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://twitter.com/wenjiach" target="_blank">Twitter</a>
            <a href="https://github.com/wenjia03" target="_blank">Github</a>
            <a
              href="https://www.feishu.cn/invitation/page/add_contact/?token=240i7475-734e-453b-a78b-13e432c507fc&unique_id=nc8_x-G8StNKvGcuFzJaAQ=="
              target="_blank">飞书/Lark</a
            >
          </div>

          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://www.jsu.edu.cn" target="_blank">吉首大学</a>
            <a href="/about" target="_blank">交换友链</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`}

          Base on
          <a href="//github.com/austin2035/astro-air-blog">Astro-air-blog</a>
          under the
          <a
            href="https://github.com/austin2035/astro-air-blog/blob/main/LICENSE.md"
            >GPL 3.0</a
          >
        </div>
        <div>
          <a href="http://beian.miit.gov.cn/" target="_blank"
            >湘ICP备2021018869号</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
